body {
  font-family: Arial, sans-serif;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 2vh; /* use viewport height instead of fixed margin */
}

input[type="time"], input[type="number"] {
  width: auto; /* keep the width as a percentage */
  height: 6vh; /* use viewport height instead of fixed height */
  margin-bottom: 6vh; /* use viewport height instead of fixed margin */
  border-radius: 0.25vh;
  padding: 1vh; /* use viewport height instead of fixed padding */
  border: 2px solid #ccc;
  font-size: larger;
}

#start-time {
  height: 5vh;
}

button {
  width: auto;
  height: 6vh; /* use viewport height instead of fixed height */
  background-color: #2c88ff;
  color: #fff;
  padding: 2vh; /* use viewport height instead of fixed padding */
  border: none;
  border-radius: 0.25vh; /* use viewport height instead of fixed border radius */
  cursor: pointer;
  font-size: 2.0vh; /* use viewport height instead of fixed font size */
  margin-top: 4vh;
  margin-bottom: 4vh;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
}

#calculate-btn {
  margin-top: 2vh;
}

#clear-btn {
  background-color: #00e297;
  color: #fff;
  margin-top: 2vh;
  padding: 1vh;
}

#clear-btn:hover {
  background-color: #58ffc7;
}

button:hover {
  background-color: #00d9ff;
}

#start-time {
  font-size: 2vh; /* use viewport height instead of fixed font size */
}

#end-time {
  font-size: 2vh; /* use viewport height instead of fixed font size */
  font-weight: bold;
  margin-top: 2vh; /* use viewport height instead of fixed margin */
}

.calculations {
  font-size: 1vh; /* use viewport height instead of fixed font size */
  text-align: center;
}

label[for="start-time"] {
  position: relative;
  left: -7vw; /* use viewport width instead of fixed left position */
}

